#chart_container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  max-width: 1200px;
  margin: auto;
}
#chart_title {
  text-align: center
}
.jugador_card {
  padding: 20px;
  background-color: #f5f0f0;
}
.arquero {
  background-color: #d3f7eb;

}
.defensor {
  background-color: #f2d9c2;

}
.mediocampista {
  background-color: #dcffff;

}
.jugador_bio {
  max-width: 150px;
}
.jugador_img {
  border-radius: 50%;
  /* border: 8px solid black; */
  width: 150px;
  height: 150px;
}

.jugador_card {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.jugador_img {
  justify-self: end;

}

p {
  margin: 0
}
