body {
    background-color: #11001F;
    font-family: 'Poppins', sans-serif;
    color: #00FFFF;
}

h1{
    color: #00FFFF;
    font-size: 60px;
    font-weight: 500;
}

h2{
    color: #00FFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 15%;
}

h3{
    margin-top: -3%;
    color: #00FFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 25%;
}

h4{
    margin-top: -3%;
    color: #00FFFF;
    font-size: 30px;
    font-weight: 500;
    margin-left: 15%;
}

#salto_poligono {
    position: relative;
    top: -40px;
    left: 350px;
    padding: 10px 10px;  
    border-color: #d100d1;;
    border-radius: 25px;
    background-color: transparent;
    color: #d100d1;;
    transition: 0.6s ease;
    }

#salto_poligono:hover {
    cursor: pointer;
    opacity: 70%;
    background-color:#00FFFF;
    color: #d100d1;
}

.texto_cierre{
    color: #00FFFF;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
  
.container {
    position: relative;
    text-align: center;
    justify-content: center;
}