body {
    background-color: #11001F;
    font-family: 'Poppins', sans-serif;
    color: #00FFFF;
}

h1{
    color: #00FFFF;
    font-size: 60px;
    font-weight: 500;
}

h2{
    color: #00FFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 15%;
}

h3{
    margin-top: -3%;
    color: #00FFFF;
    font-size: 40px;
    font-weight: 500;
    margin-left: 25%;
}

h4{
    margin-top: -3%;
    color: #00FFFF;
    font-size: 30px;
    font-weight: 500;
    margin-left: 15%;
}

.texto_cierre{
    color: #00FFFF;
    font-size: 40px;
    font-weight: 500;
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}
  
.container {
    position: relative;
    text-align: center;
    justify-content: center;
}

#banderas{
    display: flex;
    justify-content: center;
    align-items: center;
}

.presentacion{
    display: grid;
    font-size: 86px;
    margin: 0 270px;
    width: 350px;
}

.argentina{
    color: #1400FF;
}

.spain{
    color: #D100D1;
}

#vs{
    font-size: 70px;
}

#principal{
    margin-top: 50px;
    width: 100%;
    height: 1024px;
}

.boton {
    border-radius: 25px;
    background-color: transparent;
    transition: 0.6s ease;
}

.boton:hover {
    cursor: pointer;
    opacity: 70%;
}
    
.comenzar{
    font-size: 36px;
    width: 250px;
    height: 80px;
    color: #00FFFF;
    border-color: #00FFFF;
    border-width: 3px;
}

.comenzar:hover{
    background-color:#00FFFF;
    color: #11001F;
}

.salto{
    position: relative;
    top: -40px;
    left: 350px;
    padding: 10px 10px;  
    color: #d100d1;
    border-color: #d100d1;
}

.salto:hover{
    background-color:#00FFFF;
    color: #d100d1;
}



